/*** UNFORMAT ***/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/*** SASS VARIABLES ***/
@mixin primary-font {
  font-weight: 600;
  font-size: 36px;
}

@mixin secondary-font {
  font-weight: 600;
  font-size: 24px;
}

@mixin body-font {
  font-weight: 300;
  font-size: 16px;
}

@mixin btn($rounded, $type) {
    padding: 10px 20px;
  
    @if $rounded{
      border-radius: 25px;
    }
    @if $type == nav {
      background-color: $main-color;
      color: #ffffff;
    }
  }

$main-color: #0a7581;
$secondary-color: #ffb93d;
$blue-light: #718096;
$text-color: #152c5b;
/*** GENERAL - Presets  ***/
body {
  color: $text-color;
  margin: auto;
  font-family: poppins, sans-serif;
}
h1,
h2 {
  @include primary-font;
}
/*** GENERAL - SPACING ***/
.pad-60-y {
  padding: 60px 0;
}
.pad-40-y {
  padding: 40px 0;
}
.pad-20-yb {
  padding-bottom: 40px;
}
.container {
  max-width: 1200px;
  margin: auto;
}

/*** GENERAL -ALIGN ***/
.content {
  &-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-middle {
    display: flex;
    align-items: center;
  }

  &-bottom {
    display: flex;
    align-items: bottom;
  }

  &-center {
    display: flex;
    justify-content: center;
  }

  &-right {
    display: flex;
    justify-content: flex-end;
  }
}

/*** HEADER ***/
.page-header {
  padding: 10px;
  box-shadow: 0 2px 10px 1px #0000003d;

  .container {
    display: flex;
  }
}
.logo {
  flex: 1;
}
.nav-menu {
  flex: 3;
  @extend .content-center;

  ul {
    @extend .content-middle;
  }
  li {
    padding: 10px 20px;
    border: 2px solid transparent;
  }
  li a {
    color: $text-color;
  }
  li:hover {
    border: 2px solid $secondary-color;

    a {
      color: $secondary-color;
    }
  }
}

.special-nav {
  flex: 1;
  @extend .content-middle;
}
.logo img {
  height: 80px;
  object-fit: contain;
}

.btn-nav {
  @include btn(1, nav);

  &:hover{
    background-color: $secondary-color;
  }
}


/*** BANNER **/
.banner-section{
    background: radial-gradient(circle, rgba(255,185,61,1) 0%, rgba(200,146,50,1) 100%);

    .container{
        display: flex;
    }
}
.banner-image img{
height: 400px;
object-fit: contain;
}
.banner-content{
    *:not(:last-child){
        margin-bottom: 20px ;
    }
}